/*
  Add IsArchived column to dbo.AlertRecords table to allow operators to archive alerts from the inbox.
*/
IF OBJECT_ID(N'dbo.AlertRecords', N'U') IS NOT NULL
   AND COL_LENGTH(N'dbo.AlertRecords', N'IsArchived') IS NULL
BEGIN
    ALTER TABLE dbo.AlertRecords
        ADD IsArchived BIT NOT NULL CONSTRAINT DF_AlertRecords_IsArchived DEFAULT (0);
END;
