location = "eastus2"
resource_group_name = "rg-archlucid-prod"
sql_server_name = "sql-archlucid-prod"
sql_database_name = "ArchLucid"
sql_admin_login = "sqlbreakglass"
sql_admin_password = "CHANGE_ME"
entra_admin_login = "ArchLucid SQL Admins"
entra_admin_object_id = "00000000-0000-0000-0000-000000000000"
sql_sku = "GP_S_Gen5_2"
private_endpoint_subnet_id = "/subscriptions/.../resourceGroups/rg-archlucid-prod/providers/Microsoft.Network/virtualNetworks/vnet-app/subnets/snet-data"
